{% extends "base.html" %}
{% block content %}

    <div id="firstbg" class="container bgcover">
        <div class="container-fluid mycont">
            <div class="row title-white">
                Ambient Intelligence Project
            </div>
        </div>
    </div>
    <div id="secondbg" class="container bgcover">
        <div class="container-fluid mycont2">
            <div class="row title-black">
                Idea
            </div>
        </div>
    </div>
    <div id="thirdbg" class="container bgcover">
        <div class="container-fluid mycont2">
            <div class="row title-black">
                Team
            </div>
            <div class="row">
                <div class="col-md-3">
                    <h1>Giacomo Leopardi</h1>
                    <p>
                        Io sono Giacomo Leopardi. Io sono Giacomo Leopardi. Io sono Giacomo Leopardi.
                        Io sono Giacomo Leopardi. Io sono Giacomo Leopardi. Io sono Giacomo Leopardi.
                        Io sono Giacomo Leopardi. Io sono Giacomo Leopardi. Io sono Giacomo Leopardi.
                    </p>
                </div>
                <div class="col-md-3">
                    <h1>Giacomo Leopardi</h1>
                    <p>
                        Io sono Giacomo Leopardi. Io sono Giacomo Leopardi. Io sono Giacomo Leopardi.
                        Io sono Giacomo Leopardi. Io sono Giacomo Leopardi. Io sono Giacomo Leopardi.
                        Io sono Giacomo Leopardi. Io sono Giacomo Leopardi. Io sono Giacomo Leopardi.
                    </p>
                </div>
                <div class="col-md-3">
                    <h1>Giacomo Leopardi</h1>
                    <p>
                        Io sono Giacomo Leopardi. Io sono Giacomo Leopardi. Io sono Giacomo Leopardi.
                        Io sono Giacomo Leopardi. Io sono Giacomo Leopardi. Io sono Giacomo Leopardi.
                        Io sono Giacomo Leopardi. Io sono Giacomo Leopardi. Io sono Giacomo Leopardi.
                    </p>
                </div>
                <div class="col-md-3">
                    <h1>Giacomo Leopardi</h1>
                    <p>
                        Io sono Giacomo Leopardi. Io sono Giacomo Leopardi. Io sono Giacomo Leopardi.
                        Io sono Giacomo Leopardi. Io sono Giacomo Leopardi. Io sono Giacomo Leopardi.
                        Io sono Giacomo Leopardi. Io sono Giacomo Leopardi. Io sono Giacomo Leopardi.
                    </p>
                </div>
            </div>
        </div>
    </div>


    <div class="mybtn-bar">
        <button id="slide-home" class="mybtn btn-success">Home</button><br>
        <button id="slide-idea" class="mybtn btn-success">Idea</button><br>
        <button id="slide-team" class="mybtn btn-success">Team</button>
    </div>

{% endblock content %}